$appBarHeight: 64px;
$tabHeight: 52px;

.form {
  // min-height: calc(100vh - $appBarHeight - $tabHeight);
  // max-height: calc(100vh - $appBarHeight - $tabHeight);
  overflow-y: scroll;

  -ms-overflow-style: none;
  /* Internet Explorer 10+ */
  scrollbar-width: none;
  /* Firefox */
}

.form::-webkit-scrollbar {
  display: none;
  /* Safari and Chrome */
}
