$appbarHeight: 64px;
//! 骨架屏使用 Chip，不然计算高度错误
$toolbarHeight: 64px;

.preview {
  // min-height: calc(100vh - $appbarHeight - $toolbarHeight);
  overflow-y: scroll;

  -ms-overflow-style: none;
  /* Internet Explorer 10+ */
  scrollbar-width: none;
  /* Firefox */
}

.preview::-webkit-scrollbar {
  display: none;
  /* Safari and Chrome */
}
